DATABASE_URL="postgresql://postgres:postgres@localhost:5432/quickcart?schema=public"
SESSION_SECRET="replace-with-at-least-32-random-characters"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

SUPER_ADMIN_EMAIL="admin@example.com"
SUPER_ADMIN_PASSWORD_HASH=""
RESTAURANT_EMAIL="restaurant@example.com"
RESTAURANT_PASSWORD_HASH=""
GROCERY_EMAIL="grocery@example.com"
GROCERY_PASSWORD_HASH=""
DELIVERY_EMAIL="delivery@example.com"
DELIVERY_PASSWORD_HASH=""
